body{
    background-color:black;
    font-family: 'Montserrat', sans-serif;
    color: white;
    box-sizing: border-box;
    margin: 0;
    padding:0;
    overflow-x: hidden;
}
html{
    scroll-behavior: smooth;
}


/* general styles */
.bg-dark{
    background: #1a1a1a!important;
}
.bg-danger{
   background-color: #ff7f50!important; 
}
.text-danger{
    color:#ff7f50!important;
}
.text-dark{
    color:black!important;
}
.btn{
    border-radius: 50px;
    padding: 10px;
    width: 200px;
    background-color:#ff7f50!important ;
}
.desktop-nav a:hover {
color:white;
font-weight: bolder;
text-decoration: none;
}

/* mobile view */
.social-icons{
    color: white;
}
.round-border{
    border: white;
    border-radius:50%;
    border-style: solid;
    border-width: 1.5px;
    padding:7px;
}
.menu{
    float: right;
}
.Dineo{
    text-transform: uppercase;
    font-weight: 500;
    font-size: 2.5em;
    letter-spacing: 5px;
}
.hide-on-mobile{
    display:none;
}
hr{
    border: 1px solid white;
    width: 90%;
}
h1{
    font-weight: 300;
}
h2{
    font-size: 1.2em;
    padding: 0 20px;
    text-align: center; 
}
h3{
    font-weight: 100;
    font-size: 14px;
    display: inline;
    padding: 0 20px;
    text-align: center;
}
.empty{
    fill: none;
}
.star-icons{
    color: #ff7f50;
}
.HI{
    font-size: 8em;
    font-weight: 100;
}
.pTest{
    text-indent: 3.5em;
    font-weight: bold;
}
/* once the mobile nav is clicked */
.overlay {
    height: 100%;
    width: 100%;
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
  }
.overlay .icon{
    float: right;
    color: white;
    font-size: 2.5em;
}
.overlay-content ul{
    list-style: none;
    font-size: 2em;
    font-weight: 500;
    padding: 65px;
}
.overlay-content a{
    color: white;
    line-height: 1em;
}
.desktop-nav{
    display: none;
}
.mobile-only{
    display:block;
}
.desktop-only{
    display: none;
}
/* mobile view about section and onwards */
.my-image{
    box-shadow: -20px -20px gray;
    width: 200px;
    height: 200px;
    border: 1px solid white;
}
.about-text{
    text-emphasis-color: #ff7f50;
}
.ada-logo{
    width: 200px;
    height: 200px; 
}
.show-on-desktop{
    display: none;
}
.adaLogo{
    width: 100px;
    height:100px;
    box-shadow: 0px 100px gray;
}
.card{
    border: none;
    border-radius: 0;
}
.card-body{
    color: white;
}
.logoIn{
    color: white;
    align-items: center;
}
#inputMessage{
    width:225px;
}




















































































/* --------------------------------------------------------------media queries */

/* // Extra small devices (portrait phones, less than 576px) */
/* // No media query for `xs` since this is the default in Bootstrap */

/* // --------------------------------------------------------------Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 

}

/* // --------------------------------------------------------------Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    /* general styles */
    .container-fluid{
        padding: 0 20px;
    }
    .text-dark{
        color:black!important;
    }

}

/* // --------------------------------------------------------------Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
   /* general styles */
   .container-fluid{
        padding: 0 100px;
    }
   .show-on-desktop{
       display: block;
   }
   .hide-on-desktop{
       display: none;
   }
   hr{
    width: 100%;
    }
   .menu{
       display: none;
   }
   .social-icons{
       text-align: right;
   }
   .mobile-only{
       display: none;
   }
   .show-on-desktop{
       display: block;
       width: 250px;
       height: 250px;
   }
   .social-icons{
       padding-top: 20px;
       padding-right: 45px;
   }
   #DesktopNav{
       display: block;
   }
   .desktop-nav a{
    display: inline-block;
    margin: 0 20px;
    text-transform: uppercase;
    color: white;
   }
   .desktop-only{
       display: block;
   }
   /* hi section .desktop-only */
   /* .drop-arrow{
       border-radius: 50px;
       border: 1px solid white;
       width: 30px;
       height: 40px;
       padding: 5px;
   } */

   .bg-dark{
    padding: 50px 50px;
    }

   /* about me section */
   .my-image{
       width:235px;
       height:235px;
   }
   .about-me-text{
       padding-left: 50px;
       padding-right: 50px;
   }
    .laptop-desktop{
        font-size: xx-large;
        background-color: white;
        
    }

   /* graduate section */
   .ada-logo{
       width: 235px;
       height:235px;
   }
   .journey-text{
    padding-left: 50px;
    padding-right: 50px;
}


}

/* large devices desktop */
@media (min-width: 1200px){
    /* general styles */
    .container-fluid{
        padding: 0 200px;
    }

    /* header styles */
    /* moving social icons to the right */
    .social-icons{
       transform: translateX(200px);
    }
}